*{
    background-color: #FFF0BD;
}
img{
    height:500px;
    width:400px;
    align-items: center;
    margin-left: 800px;
}
h1{

    text-align: left;
    background-color: #FDAB9E;
}
div{
    text-align: left;
    justify-content: left;
}

p{
   height:500px;   
}
